includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src/

    level: max

    ignoreErrors:
        - "#Cannot access offset '[a-zA-Z]+' on Illuminate\\\\Contracts\\\\Foundation\\\\Application.#"
